@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: "Outfit";
  font-size: 16px;
  font-style: normal;
  color: var(--Wenge-Brown, #5f564d);
}

.card {
  max-width: 736px;
  background-color: white;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Young Serif";
  margin: 0 0 24px 0;
}

hr {
  height: 1px;
  background: #e3ddd7;
  margin: 0;
}

.container {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title h1 {
  color: var(--Dark-Charcoal, #312e2c);
  font-family: "Young Serif";
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
}

.preparation {
  padding: 24px;
  border-radius: 12px;
  background: var(--Snow, #fff7fb);
}

.preparation h3 {
  color: var(--Dark-Raspberry, #7a284e);
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0 0 16px 0;
}

.preparation ul,
.ingredients ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.preparation li,
.ingredients li,
.instructions li {
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 150%;
}

.preparation b,
.ingredients b,
.instructions b {
  font-weight: 700;
  line-height: 150%;
}

.preparation li::before,
.ingredients li::before {
  content: url(./assets/images/Ellipse\ 1.svg);
  width: 16px;
  padding-left: 8px;
  padding-right: 16px;
  fill: var(--Dark-Raspberry, #7a284e);
}

.preparation b {
  font-weight: 700;
}

h2 {
  color: var(--Brandy-Red, #854632);
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
}

.instructions ol {
  counter-reset: my-counter;
  list-style: none;
  margin: 0;
  padding: 0;
}

.instructions li {
  counter-increment: my-counter;
  display: flex;
  align-items: flex-start;
}

.instructions li::before {
  content: counter(my-counter) ".";
  padding-left: 8px;
  padding-right: 16px;
  color: var(--Brandy-Red, #854632);
  font-weight: 700;
  line-height: 150%;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 32px;
}

tr {
  border-bottom: 1px solid #e3ddd7;
}

tr:last-child {
  border: none;
}

td:first-child {
  padding-left: 32px;
}

td:nth-child(2) {
  padding-right: 32px;
  color: var(--Brandy-Red, #854632);
  font-weight: 700;
  line-height: 150%;
}

td {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background: var(--Eggshell, #f3e5d7);
    box-sizing: border-box;
  }

  img {
    border-radius: 12px;
    margin-bottom: 40px;
  }

  .card {
    padding: 40px;
    border-radius: 24px;
  }

  .container {
    padding: 0;
  }

  .title h1 {
    font-size: 40px;
  }
}
